// Adiciona um ouvinte de evento para o formulário de clima quando é enviado
document.getElementById("formClima").addEventListener("submit", function (event) {
  // Previne o comportamento padrão de submissão do formulário
  event.preventDefault();

  // Obtém o valor inserido no campo de entrada para a cidade
  const city = document.getElementById("cityInput").value;
  // Formata o nome da cidade para ter a primeira letra maiúscula
  const cidadeFormatada = city.charAt(0).toUpperCase() + city.slice(1);

  // Faz uma solicitação fetch para a API local que fornece dados meteorológicos da cidade especificada
  fetch(`http://localhost:3000/climatempo/${city}`)
    // Converte a resposta em formato JSON
    .then((response) => response.json())
    .then((data) => {
      // Obtém a referência ao elemento onde os resultados do clima serão exibidos
      const tempoResult = document.getElementById("climaResult");

      // Exibe o contêiner dos resultados do clima
      document.getElementById("climaResult").style.display = "block";

      // Verifica se os dados meteorológicos foram recebidos corretamente
      if (data.Temperatura) {
        // Atualiza o HTML dentro do contêiner de resultados com os dados meteorológicos formatados
        tempoResult.innerHTML = `
          <div class="clima-city-name">
            <i class="ph-fill ph-map-pin" id="pin_map"></i>
            <p id="cityResult">${cidadeFormatada}</p>
            <img src="${data.Flag}" class="flag-city">
          </div>
          <div class="clima-city-temp">
            <i class="ph ph-thermometer-simple"></i>
            <p id="tempResult">${data.Temperatura}ºC</p>
          </div>
          <div class="clima-city-icon">
            <p id="climaDescriptionResult">${data.Clima}</p>
            <img src="${data.Icone}">
          </div>
          <div class="clima-city-bot">
            <div class="clima-city-umidade">
              <i class="ph ph-drop"></i>
              <p id="umidadeResult">${data.Umidade}%</p>
            </div>
            <p class="espacamento">|</p>
            <div class="clima">
              <i class="ph ph-wind"></i>
              <p id="ventoResult">${data.VelocidadeDoVento} m/s</p>
            </div>
          </div>`;
      } else {
        // Se houver um erro ao obter os dados meteorológicos, exibe uma mensagem de erro
        tempoResult.innerHTML = "Erro ao obter dados metereológicos!";
      }
    });
});

## syle.css
/* Define estilos padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: "Krub";
}

/* Estilos para o container de vídeo */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Estilos para o vídeo de fundo */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

/* Estilos para o corpo da página */
body {
  height: 100vh;
  background-color: #fdfdfd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos para a barra de navegação no cabeçalho */
.main-header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: #0d5782;
  position: relative;
}

/* Estilos para o título no cabeçalho */
.main-header-nav-title {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

/* Estilos para o título "WEATHER" */
.main-header-nav-title-weather {
  font-family: "Krona One";
  color: #fdfdfd;
  font-size: 50px;
  padding: 0 10px 0 0;
}

/* Estilos para o título "WISE" */
.main-header-nav-title-wise {
  font-family: "Krub";
  color: #fdfdfd;
  font-size: 40px;
}

/* Estilos para o logotipo no cabeçalho */
.main-header-nav-logo {
  width: 140px;
  position: relative;
  margin-top: 70px;
}

/* Estilos para a seção de consulta de cidade */
.main-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  position: relative;
}

/* Estilos para o título na seção de consulta de cidade */
.main-city h3 {
  color: #0a4363;
  font-weight: 500;
  font-size: 25px;
  font-style: inherit;
}

/* Estilos para o formulário na seção de consulta de cidade */
.main-city-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* Estilos para o campo de entrada na seção de consulta de cidade */
.main-city-form input {
  padding-left: 20px;
  width: 700px;
  height: 50px;
  border-radius: 50px;
  background-color: #d9d9d9;
}

/* Estilos para o botão na seção de consulta de cidade */
.main-city-form button {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin-left: 10px;
  background-color: #d9d9d9;
}

/* Estilos para a seção de resultados do clima */
.main-clima {
  display: flex;
  justify-content: center;
  position: relative;
}

/* Estilos para o contêiner de resultados do clima */
#climaResult {
  margin-top: 4rem;
  display: none;
  background-color: #a3ddff;
  width: 500px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px #0a4363;
  padding: 20px;
}

/* Estilos para o nome da cidade nos resultados do clima */
.clima-city-name {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
  text-shadow: 0px 0px 5px #fdfdfd;
}

/* Estilos para a temperatura nos resultados do clima */
.clima-city-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 50px;
}

/* Estilos para o ícone do clima nos resultados do clima */
.clima-city-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

/* Estilos para a seção de informações adicionais nos resultados do clima */
.clima-city-bot {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font
